/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: #414048;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
HTML, Body {
    height: 100%;
    overflow: hidden;
}
body {
	line-height: 1;
    }
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End*/

/* Jason Hancock Folio Styles */


@font-face {
  font-family: Averta-Reg;
  src: url('../Fonts/AvertaStd-Regular.otf');
}


@font-face {
  font-family: Averta-Bold;
  src: url('../Fonts/AvertaStd-Bold.otf');
}


#pagewrap {
    border: solid 16px #ffffff;
    Background: rgba(163, 159, 158, 0.1);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
     display: flex;
    align-items: center;
}

#maxWidth {
     display: flex;
    align-items: center;
      max-width: 2000px;
    width: 100%;
    margin: auto;
    padding: 0 100px;
}

#container {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: inherit;
  
    animation: 1s ease-out 0s 1 slideInFromRight;
}

h1 {
    font-size: 100px;
    line-height: 100px;
    font-family: 'Averta-Bold', sans-serif;
    font-weight: 900;
    margin-bottom: 40px;
}

h2 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: 'Averta-Bold', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

p {
    font-family: 'Averta-Reg', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 40px;
    text-transform: none;
    letter-spacing: .03em;
    text-rendering: optimizeLegibility;
}

a { 
    text-decoration: none;
    color: #414048;
    border-bottom: 1px solid rgba(65, 64, 72, 0.2);
    padding-bottom: 3px;
    letter-spacing: 1px;
    
}

a:hover { 
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid rgba(65, 64, 72, 1);
    padding-bottom: 3px;
    transition: border-color 170ms ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-20%);
      opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

.swinger-container {
    position: relative!important;
    top: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: inherit;
    animation: 1s ease-out 0s 1 slideInFromRight;
    position: absolute;
    vertical-align: center;
    
}

.swinger-container img {
    display: flex;
    align-items: center;
    left: 45%;
    max-width: 1200px;
}

#links {
    position: absolute;
    top: 50%;
    z-index: 2000;
    max-width: 2000px;
    margin: auto;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

/* Responsive styles */

@media only screen and (min-width: 1200px) {
    
    #maxWidth {
     display: flex;
    align-items: center;
      max-width: 2000px;
    width: 100%;
    margin: auto;
}

#container {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: inherit;
  
    animation: 1s ease-out 0s 1 slideInFromRight;
}
    
    .swinger-container img {
    display: flex;
    align-items: center;
    height: auto!important;
    left: 50%;
    max-width: 1000px;
}
    
    .swinger-container {
    position: relative!important;
    top: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: inherit;
    animation: 1s ease-out 0s 1 slideInFromRight;
    position: absolute;
    vertical-align: center;
    
}
    
    
}

@media only screen and (min-width: 1800px) {
    
    #maxWidth {
     display: flex;
    align-items: center;
      max-width: 2000px;
    width: 100%;
    margin: auto;
}

#container {
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: inherit;
  
    animation: 1s ease-out 0s 1 slideInFromRight;
}
    
    .swinger-container img {
    display: flex;
    align-items: center;
    height: auto!important;
    left: 50%;
    max-width: 1500px;
}
    
    .swinger-container {
    position: relative!important;
    top: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: inherit;
    animation: 1s ease-out 0s 1 slideInFromRight;
    position: absolute;
    vertical-align: center;
    
}
    
    
}

@media only screen and (max-width: 1000px) {
    
    .mobile  {
        visibility: hidden;
    }
    
}


@media only screen and (max-width: 480px) {
    #container, #maxWidth, #links {
        width: 100%;
        padding: 20px;
    }
    
    #links {
        top: 40%;
    }
    
    h1 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 14px;
        line-height: 22px;
    }
    
    a {
        font-size: 14px;
    }
}
